body{
  font-family:Arial;
  background:#2f3640;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box{
  background:white;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

input{
  width:100%;
  box-sizing : border-box;

  padding:10px;
  margin-top:10px;
}


button{
  width:100%;
  padding:12px;
  margin-top:15px;
  background:#2f3640;
  color:white;
  border:none;
}

.roleSelect{
  display:flex;
  margin-bottom:10px;
}

.roleSelect button{
  flex:1;
  padding:10px;
  border:none;
  background:#ccc;
  color:#2f3640;
}

.roleSelect button.active{
  background:#2f3640;
  color:white;
}

.error{color:red;font-size:12px;}

.spinner{
  display:none;
  width:14px;height:14px;
  border:2px solid white;
  border-top:2px solid transparent;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  to{transform:rotate(360deg);}
}